* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../images/mountains.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar.scroll-transition {
    transition: background-color 200ms linear;
}

.jumbotron {
    background-color: transparent;
    display: table;
    width: 100%;
    height: 100vh;
}

.main-info {    
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.rounded-corners {
    position: relative; 
    width: 150px; 
    height: 150px;
    border-radius: 50%;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    }

.skill {
    width: 8%;
    padding: 5px;
}






   

